<!DOCTYPE html>
<html ng-app="zeroui" lang="en">
<head>
    <script src="framework/angular-1.5.8/angular.js"></script>
    <script src="framework/angular-1.5.8/angular-animate.js"></script>
    <script src="framework/bootstrap-3.3.7-dist/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script src="framework/angular-1.5.8/angular.js"></script>
    <script src="framework/jquery/jquery-3.1.1.min.js"></script>
    <script src="source/voice_recognize.js"></script>
    <script src="source/alert.js"></script>
    <script src="https://webaudiodemos.appspot.com/AudioRecorder/js/recorderjs/recorder.js"></script>

    <link rel="stylesheet" href="framework/bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="source/resources/styles.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<div class="container">

    <div class="center">

        <ng-form id="labnol" ng-controller="voice-converter">
            <div class="speech">
                <input type="text" name="q" id="transcript" placeholder="Speak" my-enter="restCall()"/>
                <button class="btn" type="submit" id="submit" ng-click="submit()">
                    <i class="glyphicon glyphicon-volume-up"></i>
                </button>
            </div>

            <!--            <div ng-controller="AlertDemoCtrl">
                            <script type="text/ng-template" id="alert.html">
                                <div ng-transclude></div>
                            </script>

                            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
                            <button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>
                        </div>-->

            <br/>
            <div ng-if="transferShown" uib-collapse="isCollapsed">
                <h3>Transfer:</h3>
                <ul ng-repeat='entity in transfer'>
                    <li>{{entity.name}}: {{entity.value[0].entity}}</li>
                </ul>
                <br/>
                <ul><button class="btn btn-primary">Confirm</button>&nbsp;&nbsp;<button class="btn btn-primary" ng-click="cancel()">Cancel</button></ul>
                <!--<pre>{{transfer|json}}</pre>-->
            </div>
            <div ng-if="transferDone" uib-collapse="isCollapsed">
                <label>Transferred successfully!</label>

            </div>
            <div  ng-if="showmeShown" uib-collapse="isCollapsed">
                <h3>Show Me: </h3>
                <ul ng-repeat='detail in showme'>
                    <li>{{detail.type}}: {{detail.entity}}</li>
                </ul>
                <br/>
                <h3>{{showmeAmt}}</h3>
                <!--<pre>{{showme|json}}</pre>-->
                <ul>
                    <button class="btn btn-primary" ng-click="cancel()">Reset</button>
                </ul>

            </div>
            <div ng-if="howmuchShown" uib-collapse="isCollapsed">
                <h3>How Much on: </h3>
                <ul ng-repeat='item in howmuch'>
                    <li>{{item.value[0].entity}}</li>
                </ul>
                <br/>
                <h3>{{howmuchAmt}}</h3>
                <!--<pre>{{howmuch|json}}</pre>-->
                <ul>
                    <button class="btn btn-primary" ng-click="cancel()">Reset</button>
                </ul>

            </div>
            <div ng-if="helpShown" class='well' uib-collapse="isCollapsed">
                <h3>Wonderful Tips:</h3>
                <ul>
                    <li>Transfer $100 from Sara To Cherry.</li>
                    <li>How much did I spend on shopping last week</li>
                    <li>Show me payment to Cherry yesterday.</li>
                </ul>


            </div>

            <br/>
            <!--<div>-->
            <!--For Debug Only:-->
            <!--<pre>{{result|json}}</pre>-->
            <!--</div>-->
        </ng-form>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="framework/bootstrap-3.3.7-dist/ui-bootstrap-tpls-2.2.0.min.js"></script>
<script src="https://webaudiodemos.appspot.com/AudioRecorder/js/recorderjs/recorder.js"></script>
</body>
</html>
